<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978220722770-9q1gjj8fhans4nsh9ot3biqbna0u4cdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978220722770-9q1gjj8fhans4nsh9ot3biqbna0u4cdq</string>
	<key>API_KEY</key>
	<string>AIzaSyA8oQYNMdd9w2Wpymb61nR6QaFl7KJkpCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>978220722770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pasan.CafeManager</string>
	<key>PROJECT_ID</key>
	<string>cobsccomp192p-011</string>
	<key>STORAGE_BUCKET</key>
	<string>cobsccomp192p-011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978220722770:ios:d9f48a5e2f2a44afadcd8b</string>
	<key>DATABASE_URL</key>
	<string>https://cobsccomp192p-011-default-rtdb.firebaseio.com</string>
</dict>
</plist>